{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}
<div class="container" style="margin-top:50px">
<h2 class="text-center">About Us</h2>
    <br><br><br><br>
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="{% static 'images/hosp.jpg'  %}" width="400" height="300" class="img-responsive">
        </div>
        <div class="col-sm-8 font-weight-bold mt-5" >Hello friends Welcome...<br>
        This is a simple Hospital Management Project developed by Yashasvi Bagherwal using HTML,CSS,javascript,Bootstrap,Python Django and sqlite.
         A comprehensive Hospital Management System designed to transform healthcare operations and enhance patient care. Our platform simplifies complex hospital workflows by integrating modern technology with user-friendly tools.

From patient registration and appointment scheduling to medical records management and billing, Hospital Management System provides a seamless solution for hospitals, clinics, and healthcare providers. By automating administrative tasks and ensuring data security, we enable healthcare professionals to focus on what matters most – delivering quality patient care.

Our mission is to empower healthcare organizations with efficient, reliable, and scalable solutions that adapt to their evolving needs. At Hospital Management System, we are committed to innovation, excellence, and making healthcare management easier for everyone.

Join us on our journey to redefine healthcare management, one hospital at a time.</div>
    </div>
    </div>
{% endblock %}

